.header
.main
  .main-box
    .main-box__header
      .main-box__header__info
        %p アカウントをお持ちでない方はこちら
        .form-group
          = link_to "#", class: "contents__btn" do
            新規会員登録
    .main-box__border 
    /ボーダーを最後に修正高さもあえて高くしている
    .main-box__form
      .form
        .form-group
          = link_to "#", class: "contents__btn__google" do
            Googleでログイン
        .form-group
          = link_to "#", class: "contents__btn__facebook" do
            Facebookでログイン
        .form-group
          = link_to "#", class: "contents__btn__apple" do
            Appleでログイン
      .form-login
        form-login
        .form-group
          
        .form-group
          パスワード
        .form-group
          私はロボットではありません
        .form-group

        .form-group
          パスワードをお忘れの方
.footer
  .footer-box
    プライバシーポリシー
    メルカリ利用規約    
    特定商取引に関する表記